.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}
.home-main-heading {
  color: #ffffff;
  font-size: 32px;
}
.home-description {
  color: #ffffff;
  font-size: 20px;
  max-width: 70%;
}
.home-find-jobs-btn {
  background-color: #6366f1;
  border-width: 0px;
  width: 100px;
  padding: 12px;
  color: #ffffff;
  border-radius: 8px;
}

/* Home media query */

@media (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}
